{% extends "head_foot.html" %}
{% block contain %}
<div class="containerForm">
    <div class="col-md-6 contactus-right" style="width: 100%;float: inherit;">
<!--        <form id="contact-form" >-->
            <form action="" method="post" enctype="multipart/form-data" role="form" class="contactus-form">
                {{form.csrf_token}}
                <div class="row">
<!--File-->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">

                        <div class="dummy">upload asset</div>
                        <!--hide-->
                        <input id="asset" name="asset" required="" type="file" value="" placeholder="asset"
                               class="form-control" style="opacity: 0;">
                    </div>
                </div>
<!--text-->
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="name" name="name" required="" type="text" value="" placeholder="name"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="theme" name="theme" type="text" value="" placeholder="theme" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="title" name="title" type="text" value="" placeholder="title" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="describe" name="describe" type="text" value="" placeholder="describe"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="source" name="source" type="text" value="" placeholder="source" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="location" name="location" type="text" value="" placeholder="location"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="year" name="year" type="text" value="" placeholder="year" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="month" name="month" type="text" value="" placeholder="month" class="form-control">
                    </div>
                </div>


                <!--							<div class="col-md-12 col-sm-12 col-xs-12">-->
                <!--								<div class="form-group">-->
                <!--									<input type="email" name="contact-email" required="" class="form-control" id="input_email" placeholder="Email Address*">-->
                <!--								</div>-->
                <!--							</div>-->
                <!--							<div class="col-md-12 col-sm-12 col-xs-12">-->
                <!--								<div class="form-group">-->
                <!--									<input type="text" name="contact-phone" required="" class="form-control" id="input_phone" placeholder="Phone">-->
                <!--								</div>-->
                <!--							</div>-->
                <!--							<div class="col-md-12 col-sm-12 col-xs-12">-->
                <!--								<div class="form-group">-->
                <!--									<textarea rows="5" name="contact-message" required="" class="form-control" id="textarea_message" placeholder="Your Comment"></textarea>-->
                <!--								</div>-->
                <!--							</div>-->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input type="submit" value="Send a Message" id="submit" title="Send" name="submit">
                    </div>
                                {%import "bootstrap/wtf.html" as wtf%}
                </div>
                <div id="alert-msg" class="alert-msg"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}