{% extends "head_foot.html" %}
{% block contain %}
<div class="containerForm">
    <div class="col-md-6 contactus-right" style="width: 100%;float: inherit;">
        <!--        <form id="contact-form" >-->
        <form action="" method="post" enctype="multipart/form-data" role="form" class="contactus-form">
            {{form.csrf_token}}
            <div class="row">
                <!--File-->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">

                        <div class="dummy">upload cover image</div>
                        <!--hide-->
                        <input id="img" name="img" required="" type="file" value="" placeholder="img"
                               class="form-control" style="opacity: 0;">
                    </div>

                </div>
                <!--text-->
                <div class="col-md-12 col-sm-12 col-xs-12 left" >
                    <div class="form-group">
                        <input id="source" name="source" type="text" value="" placeholder="image source"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="name" name="name" required type="text" value="" placeholder="City Name*"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="title" name="title" type="text" value="" placeholder="cover title"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="describe" name="describe"type="text" value="" placeholder="describe"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="tags" name="tags" type="text" value="" placeholder="Tags ( split by [,] )"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 right">
                    <div class="form-group">
                        <input id="latitude"  required name="latitude" type="text" value="" placeholder="latitude*"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 left">
                    <div class="form-group">
                        <input id="longitude"  required name="longitude" type="text" value="" placeholder="longitude*"
                               class="form-control">
                    </div>
                </div>


                <!--							<div class="col-md-12 col-sm-12 col-xs-12">-->
                <!--								<div class="form-group">-->
                <!--									<input type="email" name="contact-email" required="" class="form-control" id="input_email" placeholder="Email Address*">-->
                <!--								</div>-->
                <!--							</div>-->
                <!--							<div class="col-md-12 col-sm-12 col-xs-12">-->
                <!--								<div class="form-group">-->
                <!--									<input type="text" name="contact-phone" required="" class="form-control" id="input_phone" placeholder="Phone">-->
                <!--								</div>-->
                <!--							</div>-->
                <!--							<div class="col-md-12 col-sm-12 col-xs-12">-->
                <!--								<div class="form-group">-->
                <!--									<textarea rows="5" name="contact-message" required="" class="form-control" id="textarea_message" placeholder="Your Comment"></textarea>-->
                <!--								</div>-->
                <!--							</div>-->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input type="submit" value="Send a Message" id="submit" title="Send" name="submit">
                    </div>
                    {%import "bootstrap/wtf.html" as wtf%}
                </div>
                <div id="alert-msg" class="alert-msg"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}