<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Grand Tour in China</title>
	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="./static/css/style1.css">
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- LOADER -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-triangle-path">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div><!-- Loader /- -->

	<header class="header-main container-fluid no-padding">
	<!-- SidePanel -->
	<div id="slidepanel">
		<!-- Top Header -->
		<div class="header-top container-fluid no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<span>Grand tour in China</span>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" title="GooglePlus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- Top Header /- -->
		<!-- Middle Header /- -->
		<div class="container header-middle">
			<div class="row">
				<div class="col-md-3">
					<div class="logo-block">
						<a href="index.html"><img src="./static/image/logo.jpg" alt="logo" height="52" width="80"><h3>China</h3><span>&ensp; Grand tour</span></a>
					</div>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="header-contactinfo-block">
						<div class="contactinfo-box">
							<span class="icon icon-Pointer"></span>
							<p>Yuquan campus of ZJU,<span>Zhejiang, China</span></p>
						</div>
						<div class="contactinfo-box">
							<span class="icon icon-Time"></span>
							<p>Monday-Friday : 9:00 AM to 7:00 PM<span>Sunday : Closed</span></p>
						</div>
						<div class="contactinfo-box">
							<span class="icon icon-Phone2"></span>
							<p>
								<a href="" title="011234567896">(+01) 123 456 7896</a>
								<a href="mailto:info@global.com" title="info@global.com">ccpr.cc</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Middle Header /- -->
	</div><!-- SidePanel /- -->

	<div class="menu-block">
		<div class="container">
			<div class="row">
				<!-- Navigation -->
				<nav class="navbar ow-navigation">
					<div id="loginpanel" class="desktop-hide">
						<div class="right" id="toggle">
							<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="navbar-header">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a title="Logo" href="index.html" class="navbar-brand"></a>
							<a href="index.html" class="mobile-logo" title="Logo"><h3>Global</h3></a>
						</div>
						<div class="navbar-collapse collapse" id="navbar">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="/search">Search</a></li>
								<li><a href="destination-details.html">Destination Detail</a></li>
								<li><a href="aboutus.html">About Us</a></li>
								<li><a href="contactus.html">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="input-group menusearch">
						<input type="text" placeholder="Search for Deals" class="form-control">
						<span  class="input-group-btn">
							<button type="button" title="Search" class="btn"><span class="icon_search" aria-hidden="true"></span></button>
						</span>
					</div>
				</nav><!-- Navigation /- -->
			</div>
		</div>
	</div>

	<div class="menu-block">
		<div class="container">
			<div class="row">
				<!-- Navigation -->			  <!-- Navigation /- -->
			</div>
		</div>
	</div>
</header><!-- Header /- -->
	<main class="site-main page-spacing">
		<!-- PhotoSlider -->
		<div class="container-fluid no-padding photoslider">
			<div id="photosliderslider" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="./static/image/festival.jpg" alt="photoslider1" width="1920" height="1000">
						<div class="photosliderconent-block">
							<div class="photoslidercontent-box">
								<div class="photoslidercontent-top">
									<h3>It is better to travel hopefully than to arrive</h3>
									<a href="#" title="explore our gallery">Explore our gallery</a>
								</div>
								<div class="photoslidercontent-bottom">
									<h3>Visits always give pleasure if not the arrival</h3>
									<p>These days are all share them with me oh baby. Here's the story of a lovely lady who was bringing up.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="./static/image/food.jpg" alt="photoslider2" width="1920" height="1000">
						<div class="photosliderconent-block">
							<div class="photoslidercontent-box">
								<div class="photoslidercontent-top">
									<h3>This is campfire that mocks the sun shine</h3>
									<a href="#" title="explore our gallery">Explore our gallery</a>
								</div>
								<div class="photoslidercontent-bottom">
									<h3>Visits always give pleasure if not the arrival</h3>
									<p>These days are all share them with me oh baby. Here's the story of a lovely lady who was bringing up.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="./static/image/scenery.jpg" alt="photoslider3" width="1920" height="1000">
						<div class="photosliderconent-block">
							<div class="photoslidercontent-box">
								<div class="photoslidercontent-top">
									<h3>Life is either a great adventure or nothing</h3>
									<a href="#" title="explore our gallery">Explore our gallery</a>
								</div>
								<div class="photoslidercontent-bottom">
									<h3>Visits always give pleasure if not the arrival</h3>
									<p>These days are all share them with me oh baby. Here's the story of a lovely lady who was bringing up.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ol class="carousel-indicators">
					<li data-target="#photosliderslider" data-slide-to="0" class="active">
						<span>Go</span>
						<img src="./static/image/label1.png" width="50" height="50" alt="label1">
					</li>
					<li data-target="#photosliderslider" data-slide-to="1">
						<span>Go</span>
						<img src="./static/image/label2.png" width="50" height="50" alt="label2">
					</li>
					<li data-target="#photosliderslider" data-slide-to="2">
						<span>Go</span>
						<img src="./static/image/label3.png" width="50" height="50" alt="label3">
					</li>
				</ol>
			</div>
		</div><!-- PhotoSlider /- -->

		<!-- Popular Destination -->
		<div class="container popular-destination">
			<div class="section-padding"></div>
			<div class="section-header">
				<h3>Our hometown</h3>
				<span>Where our dreams begin</span>
			</div>
			<div class="popular-destination-block">
			  <div class="row">
					<div class="col-md-6 popular-destination-left">
						<div class="popular-destinatonbox">
							<img src="./static/image/lijiang.jpg" alt="populardestinaion1-wide" width="600" height="530">
							<div class="popular-destination-info">
								<a href="destination-details.html" title="Port Jackson"><h3>Old Town of Lijiang</h3></a>
								<span>ANCIENT CITY</span>
							</div>
						</div>
					</div>

				<div class="col-md-6 popular-destination-right">
						<div class="col-md-6 col-sm-6 col-xs-6 no-padding">
							<div class="popular-destinatonbox">
								<img src="./static/image/xiangshan.jpg" alt="populardestinaion2" width="285" height="260">
								<div class="popular-destination-info">
									<span>Beaches, Surfing</span>
									<a href="destination-details.html" title="Bondi Beach"><h3>Songlan Mountain</h3></a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 no-padding">
							<div class="popular-destinatonbox">
								<img src="./static/image/lishui.jpg" alt="populardestinaion3" width="285" height="260">
								<div class="popular-destination-info">
									<span>Mountains and rivers</span>
									<a href="destination-details.html" title="The Rock"><h3>xiandu</h3></a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 no-padding">
							<div class="popular-destinatonbox">
								<img src="./static/image/luzhou.jpg" alt="populardestinaion4" width="285" height="260">
								<div class="popular-destination-info">
									<span>ancient city</span>
									<a href="destination-details.html" title="Darling Harbour"><h3>luzhou city</h3></a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 no-padding">
							<div class="popular-destinatonbox">
								<img src="./static/image/xinjiang.jpg" alt="populardestinaion5" width="285" height="260">
								<div class="popular-destination-info">
									<span>desert</span>
									<a href="destination-details.html" title="Tanronga zoo"><h3>kumtag desert</h3></a>
								</div>
							</div>
						</div>
				  </div>
			</div>
				<a href="/search" title="view all destination">View All Destination</a>
			</div>
			<div class="section-padding"></div>
		</div><!-- Popular Destination /- -->

		<!-- Popular Destination Maps -->
		<div class="container-fluid no-padding popular-destination-maps",id="1">
			<div class="container">
				<div class="section-header">
					<h3>city Introduction</h3>
					<span>We're gonna make our dreams come true</span>
				</div>
			</div>
			<div class="container-fluid no-padding">
				<div class="chinese-map">
					<div class="map" align="center">
						<img src="./static/image/map.png" alt="map" width="1920" height="1080">
						<div style="font-size: 15px;position: absolute;z-index: 2;left: 50%;top: 69%">
							<a href="/city.Luzhou" title="Luzhou"><img src="./static/image/label.png"></a>
						</div>
						<div style="font-size: 15px;position: absolute;z-index: 2;left: 70%;top: 61%">
							<a href="/city.Deqing" title="Deqing"><img src="./static/image/label.png"></a>
						</div>
						<div style="font-size: 15px;position: absolute;z-index: 2;left: 69.5%;top: 66%">
							<a href="/city.Lishui" title="Lishui"><img src="./static/image/label.png"></a>
						</div>
						<div style="font-size: 15px;position: absolute;z-index: 2;left: 72%;top: 64%">
							<a href="/city.Xiangshan" title="Xiangshan"><img src="./static/image/label.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Popular Destination Maps /- -->

		<!-- Slider Section -->
		<div class="container-fluid no-padding slider-section">
			<div class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="./static/image/background1.jpg" alt="photoslider1" width="1920" height="540">
						<div class="container">
							<div class="row">
								<div class="col-md-7 col-sm-9">
									<div class="slider-content">
										<h3>Yunnan Xishuangbanna</h3>
										<p>They'll have to make the best of things its an uphill climb. Makin' your way in the world today takes everything you've got. Takin' a break from all your worries sure would help a lot. Boy the way Glen Miller played. Songs that made the hit parade. Guys like us we had it made. Those were the days.</p>
										<span>Mistery of the Rainforest</span>
										<a href="#" title="Book a Tour">Have a Look</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="./static/image/background2.jpg" alt="photoslider1" width="1920" height="540">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<div class="slider-content">
										<h3>Potala Palace</h3>
										<p>They'll have to make the best of things its an uphill climb. Makin' your way in the world today takes everything you've got. Takin' a break from all your worries sure would help a lot. Boy the way Glen Miller played. Songs that made the hit parade. Guys like us we had it made. Those were the days.</p>
										<span>Majestic mountains</span>
										<a href="#" title="Book a Tour">Have a Look</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Slider Section /- -->



		<!-- Testimonial Section -->
		<div class="container-fluid no-padding testimonial-section">
			<div class="section-padding"></div>
			<div class="container">
				<div class="section-header">
					<h3>What Our Developers says</h3>
					<span>We're gonna make our dreams come true	</span>
				</div>
				<div class="testimonial-carousel">
					<div class="testimonial-box">
						<img src="./static/image/testimonial1.jpg" alt="testimonial1" width="170" height="185">
						<p>There's nothing can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long.</p>
						<span>Chris Evans, Paris</span>
					</div>
					<div class="testimonial-box">
						<img src="./static/image/testimonial2.jpg" alt="testimonial2" width="170" height="185">
						<p>There's nothing can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long.</p>
						<span>Chris Evans, Paris</span>
					</div>
					<div class="testimonial-box">
						<img src="./static/image/testimonial1.jpg" alt="testimonial1" width="170" height="185">
						<p>All we wanna do is to make you aware that there are so many mysteries around us!</p>
						<span>Runpu Wu, Luzhou</span>
					</div>
					<div class="testimonial-box">
						<img src="./static/image/testimonial2.jpg" alt="testimonial2" width="170" height="185">
						<p>There's nothing can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long.</p>
						<span>Chris Evans, Paris</span>
					</div>
					<div class="testimonial-box">
						<img src="./static/image/testimonial1.jpg" alt="testimonial1" width="170" height="185">
						<p>There's nothing can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long.</p>
						<span>Chris Evans, Paris</span>
					</div>
					<div class="testimonial-box">
						<img src="./static/image/testimonial2.jpg" alt="testimonial2" width="170" height="185">
						<p>There's nothing can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long.</p>
						<span>Chris Evans, Paris</span>
					</div>
				</div>
			</div>
			<div class="section-padding"></div>
		</div><!-- Testimonial Section /- -->

		<!-- CallOut -->
		<div class="container-fluid no-padding callout-section">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-10">
					<div class="callout-content">
						<h3>If You Want To Book a tour</h3>
						<span>Simply Contact Our Team And Get It Done</span>
						<ul>
							<li><span class="icon icon-Phone2"></span><a href="" title="1234567896">(+1) 123 456 7896</a></li>
							<li><span class="icon icon-Mail"></span><a href="mailto:info@ourdomain.com" title="info@ourdomain.com">ccpr.cc</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- CallOut /- -->
	</main>


		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<span>Copyright &copy; 2020.DAM! <br> All rights reserved.</span>
					</div>
					<div class="col-md-9">
						<div class="footer-menu">
							<nav class="navbar ow-navigation">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="navbar2" class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										<li><a href="index.html" title="Home">Home</a></li>
										<li><a href="aboutus.html" title="About">About</a></li>
										<li><a href="#" title="Services">Services</a></li>
										<li><a href="#" title="Privacy policy">Privacy policy</a></li>
										<li><a href="#" title="Terms & Condition">Terms & Condition</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Footer Bottom /- -->
	</footer><!-- Footer /- -->

	<!-- JQuery v1.11.3 -->
	<script src="./static/js/jquery.min.js"></script>
	<script src="./static/js/jquery.ddslick.min.js"></script><!-- For Option Image & decription  -->
	<script src="./static/js/lib.js"></script><!-- Bootstrap JS File v3.3.5 -->
	<script src="./static/js/bootstrap-datetimepicker.min.js"></script><!-- Bootstrap DateTimePicker -->
	<script src="./static/js/lightslider.js"></script><!-- LightSlider -->
	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>--><!-- Library - Google Map API -->

	<!-- Library - Theme JS -->
	<script src="./static/js/functions.js"></script>
</body>
</html>